.modalBackground {   
    background-color: rgba(51, 51, 51 ,0.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; 
   align-items: center; 
  }
  
  .modalContainer {
    width: 500px;
    height: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    padding: 25px;
    position: relative;
  }
  
  .modalFooter{
    align-items: center;
    justify-content: center;
  }

  .close-icon {
    position: absolute;
    color: #aaa;
    font-weight: bold;
    font-size: 28px; 
    top: 8px;
    right: 16px; 
  }

  .close-icon:hover,
  .close-icon:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
  }
  .input-text {
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    color: black;
    margin: 81px auto;
    width: 80%;
    padding: 16px 13px;
    display: block;
    font-size: 16px;
  }
  .input {
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }
  .modalFooter{
    margin:82px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: end;
  }
  .buton-add,
  .button-edit,
  .button-delete{    
    background: #9933FF;
    padding: 12px 0;
    color: #fff;
    width: 100px;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  .button-edit{
    background: #06c506;
  }
  .button-delete{
    background: #b61111;   
  }
  
